*{
    margin: 0%;
    padding: 0%;
}
body{
   margin-top: 1%;
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size:17px;
    margin-top: 30px;
}

.form-data input{
    padding: 20px;
    width: 270px;
    margin-top: 25px;
    font-size: 15px;
    outline-color: rgba(29,161,242);
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 200);
}

.btn button{
    margin-top: 25px;
    width: 310px;
    border-radius: 30px;
    font-size:15px;
    color: white;
    background-color:rgba(29,161,242);
    opacity: .5;
    padding:15px ;
    outline-style: none;
    border: none;
    cursor: pointer;
}
#container span{
    color: black; 
    font-weight: 500;
    text-decoration: none;
}
.forgot{
    margin-top: 35px;
    margin-left: 35px;
}

.sign{
    margin-left: 160px;
    margin-top: -18px;
}
#container a{
    text-decoration: none;
    color: rgba(29,161,242);
    cursor: pointer;
}

 p:hover{
     text-decoration: underline;
   }

.form-data > div{
   position: relative;
   box-sizing: border-box;
}

.form-data input+label{
  position: absolute;
  top: 45px;
  left: 8px;
  font-family: sans-serif;
  font-size: 15px;
  color: #999;
  transition: 0.5s;
}

.form-data input:focus + label{
  font-size:80%;
  color:rgba(29,161,242);
  font-weight: bold;
  top: 30px;
}

/*.form-data input:focus ~ label,
.form-data input:valid ~ label{
       font-size: 75%;
       color:rgba(29,161,242);
       font-weight: bold;
       top: 10px;      
}
